// colors
$col-black: #0c0c0e;
$col-white: #ffffff;
$col-grey: #6b6b6b;

// fonts
$font-mori: "PP Mori", Arial, Helvetica, sans-serif;

// z-indexes
$z-indexes: (
  "level-six",
  "level-five",
  "level-four",
  "level-three",
  "level-two",
  "level-one"
);
