@font-face {
  font-family: "PP Mori";
  src: url("~/assets/fonts/PPMori-Regular.woff2") format("woff2"),
    url("~/assets/fonts/PPMori-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
